/* style.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
}

.projects-table,
.project-form {
  flex: 1;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 10px;
  text-align: left;
}

label {
  display: block;
  margin-top: 10px;
}

input[type="text"],
textarea,
select {
  width: 100%;
  padding: 8px;
}

input[type="submit"],.logout {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

input[type="submit"]:hover,.logout:hover {
  background-color: #45a049;
}

.logout{
  margin-top:5px;
}

/* Form Field Styling */
.form-field {
  margin-top: 10px;
  display: flex;
  align-items: center;
  /* Aligns items vertically in the center */
}

.form-field label {
  margin-right: 10px;
  min-width: 180px;
  /* Adjust the width as needed */
}

.form-field input[type="text"],
.form-field input[type="number"],
.form-field select,
.form-field textarea {
  flex-grow: 1;
  /* Takes the remaining space */
  padding: 8px;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-bottom: 10px;
}

/* Hide default checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #45a049;
}

input:focus+.slider {
  box-shadow: 0 0 1px #45a049;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.vline {
  border-left: 2px solid #45a049;
  height: 100vh;
}

.toggle-div {
  display: flex;
}

#toggle_label {
  display: flex;
  align-items: center;
  margin-left: 10px;
}