<!DOCTYPE html>
<html>

<head>
    <title>Project Management</title>
    <link rel="stylesheet" href="../style/teacher.css">
</head>

<body>
    <div class="container">
        <div class="projects-table">
            <table id="projects_table">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Teacher Name</th>
                    <th>Number of Students</th>
                    <th>Remaining Students</th>
                    <th>Students Names</th>
                </tr>
            </table>
        </div>
        <div class="vline"></div>
        <div class="project-form">
            <form id="teacher_form">
                <div class="form-field">
                    <label for="name">Project Name:</label>
                    <input type="text" id="name" name="name">
                </div>

                <div class="form-field">
                    <label for="description">Description:</label>
                    <textarea id="description" name="description"></textarea>
                </div>

                <div class="form-field">
                    <label for="number_students">Number of Students in the Project:</label><br>
                    <input type="number" id="number_students" name="number_students"><br>
                </div>


                <div class="toggle-div">
                    <div>
                        <label class="switch">
                            <input type="checkbox" id="toggle_project_action">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div id="toggle_label">
                        Add New Project
                    </div>
                </div>

                <!-- Dropdown for existing projects (initially hidden) -->
                <select id="existing_projects" name="existing_projects" disabled></select><br>

                <input type="submit" value="Add project" id="teacher_sumbit">
            </form>
            <button class="logout" id="logoutButton">logout</button>
        </div>
    </div>
    <script type="module" src="../js/teacher.js"></script>
</body>

</html>